plotDiv = document.getElementById("{{ plot_id }}");

var plotdData = [
  {{ x }},
  {{ y }}
];

var bars = uPlot.paths.bars({
  align: 1,
  size: [1, Infinity],
  gap: 0,
});

var plotOpts = {
  title: "{{ title }}",
  id: "{{ plot_id }}",
  width: 800,
  height: 600,
  scales: {
    x: {
      time: false,
      dir: 1,
    },
  },
  series: [
    {},
    {
      width: 1,
      stroke: "#00f",
      fill: "rgb(0,0,255,0.1)",
      paths: bars,
    },
  ],
};

var plot = new uPlot(plotOpts, plotdData, plotDiv);
