<table>
    <thead><tr>
        {# {% for col in data[0].keys() %}<th>{{ col|e }}</th>{% endfor %} #}
        <th>job_id</th>
    </tr></thead>
    <tbody>
        {% for row in data %}
            {# <tr>{% for entry in row.values() %}<td>{{ entry|e }}</td>{% endfor %}</tr> #}
            {# TODO show time and func name #}
            <tr><td><a onclick="document.body.appendChild(document.importNode(document.getElementById('{{ row.job_id }}').content, true)); document.getElementById('dialog-{{ row.job_id }}').showModal()">{{ row.job_id|e }}</a></td></tr>
        {% endfor %}
    </tbody>
</table>
{% for row in data %}
    <template id="{{ row.job_id }}">
        <dialog id="dialog-{{ row.job_id }}" >
            <div class="terminal-card">
                <header>job details</header>
                <div>
                    {% for name, val in row.items() %}
                    {# TODO formatting, table inside? #}
                        <p>{{ name|e }}: {{ val|e }}</p>
                    {% endfor %}
                </div>
            </div>
        </dialog>
    </template>
{% endfor %}
