var plotDiv = document.getElementById("{{ plot_id }}");

var plotData = [
  {{ x }},
  {{ y }}
];

var plotOpts = {
  title: "{{ title_prefix }}: {{ y_label }}",
  id: "{{ plot_id }}",
  class: "my-chart",
  width: 800,
  height: 600,
  scales: {
    x: {
      time: {{ is_time_col }},
    },
  },
  series: [
    {
      label: "{{ x_label }}",
    },
    {
      show: true,
      spanGaps: false,
      label: "{{ y_label }}",
      stroke: "blue",
      width: 1,
    },
  ],
};

var plot = new uPlot(plotOpts, plotData, plotDiv);
