plotDiv = document.getElementById("{{ plot_id }}");

// line
var plotData = [
  {{ x }},
  {{ y }}
];

var plotOpts = {
  title: "{{ title }}",
  id: "{{ plot_id }}",
  class: "my-chart",
  width: 800,
  height: 600,
  series: [
    {},
    {
      show: true,
      spanGaps: false,
      label: "{{ y_label }}",
      value: (self, rawValue) => rawValue.toFixed(2),
      stroke: "blue",
      width: 1,
    },
  ],
};

var plot = new uPlot(plotOpts, plotData, plotDiv);
