:root {
    --global-font-size: 16px;
    --page-width: 80em;
}
.container {
    margin-top: 4em;
    margin-bottom: 4em;
}
.viz-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    align-items: center;
    justify-items: center;
}
.viz-item {
    aspect-ratio : 3 / 2;
    width: 100%;
}
table {
    margin: 0;
}
.table-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    align-items: start;
    justify-items: start;
}
.terminal-card {
    display: none;
}