<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arq Monitor</title>
    <link rel="stylesheet" href="{{ request.app.url_path_for('static', path='terminal-0.7.4.min.css') }}" />
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>