{% extends "base.html.jinja" %}
{% block content %}
    <h1>Dashboard</h1>
    <p>test</p>
    <div hx-ext="sse" sse-connect="/get-dashboard-data" sse-swap="dashboard-data">
        htmx see test
    </div>
{% endblock %}
